
DummyPrj.xcodeproj/project.xcworkspace/xcuserdata/boonyanit.xcuserdatad/UserInterfaceState.xcuserstate

DummyPrj.xcodeproj/xcuserdata/boonyanit.xcuserdatad/xcschemes/DummyPrj.xcscheme

DummyPrj.xcodeproj/xcuserdata/boonyanit.xcuserdatad/xcschemes/xcschememanagement.plist
